langsmith
langgraph
langchain
langchain-core
langchain-classic
langchain-groq
langchain-community


tiktoken 
pandas
numpy

python-dotenv
ipython


fastapi 
uvicorn
sqlalchemy 
psycopg2-binary 
python-jose 
passlib 
sqlalchemy

psycopg2-binary
alembic

Typing