langsmith
langgraph
langchain
langchain-core
langchain-classic
langchain-groq
langchain-community


tiktoken 
pandas
numpy

python-dotenv
ipython


fastapi 
uvicorn

sqlalchemy 
sqlalchemy[asyncio]
psycopg2-binary 

python-jose 
bcrypt>=4.0,<5

psycopg2-binary
alembic
asyncpg

Typing